@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* hide horizontal scroll */
  overflow-y: auto;
}

canvas {
    display: block;
    width: 100%;
    height: 100vh;

  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.below {
    height: 100vh; /* so you can scroll to it */
    background: black;
    color: #00FF00;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    padding-top: 50px;
}
.below1 {
    height: fit-content;
    padding: 1vh;
    background: black;
    color: #00FF00;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    padding-top: 50px;
}
.below2 {
    height: fit-content;
    padding: 1vh;
    background: black;
    color: #00FF00;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    padding-top: 50px;
}
#tessGIF {
    width: 100vw;       /* full viewport width */
    height: 50vh;      /* full viewport height */
    object-fit: contain; /* keeps aspect ratio, fits inside viewport */
}
a{
  color: red;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
.below1 .proj{
  margin: 1vh;
}

.below .logos img {
    width: 20vw;        /* fill the container width */
    height: 10vh;       /* fill the container height */
    margin: 1vw;
}
.below .logos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.below2 .logos img {
    width: 20vw;        /* fill the container width */
    height: 10vh;       /* fill the container height */
    margin: 1vw;
}
.below2 .logos{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.below2 .logos i {
    width: 20vw;        /* fill the container width */
    height: 10vh;       /* fill the container height */
    font-size: 10vh;  
    margin: 1vw;
}