@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('bg.png') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main h1{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    left: 10%;
    transition-duration: 0.5s;
}



.headings{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    height: 860px;
    align-items: center;

    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}

#pic{
    display: flex;
    align-items: center;
    width: fit-content;
}

#pic img{
    width: 575px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid black;
    transition-duration: 0.5s;
    align-items: center;
}

#pic img:hover{
    transition-timing-function: ease-out;
    transform: scale(0.8);
    filter: drop-shadow(0 0 30px black);
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
} 

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 50px;
    min-height: 860px;
    max-height: fit-content;
    background-color: rgba(0, 0, 0, 0.9);
}

.services headings h1{
    color: white;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255, 45, 45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}

.box p{
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}

.box a{
    text-decoration: none;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    color: green;
}

#portfolio{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 860px;
    height: fit-content;
}
